.map-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .map-container {
    flex-direction: column;
  }
}
