.menu-bar {
  position: absolute;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
}

.menu-bar-round-button {
    border-radius: 50% !important;
    width:45px;
    height: 45px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
