.add-menu-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: auto;
}

@media (max-width: 768px) {  
  .add-menu-form-container.mobile {
    position: absolute;
    left: calc(55px + 0.5rem);
    width: calc(100% - (55px + 0.5rem));
    height: 100%;
    z-index: 99;
  }
}