.header-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 60px;
  border-bottom: 2px solid #008000;
}

.header-group {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}

.header-text {
  margin: auto;
}

.header-text-sm {
  font-size: 0.8rem;
}

.header-image{
  max-height: 45px;
} 