.select-position-button-container {
  position: absolute;
  bottom: 20px;
  right: 10px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  z-index: 99;
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
}
