.layer-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
  width: 20rem;
  padding: 0.5rem;
  overflow: auto;
}

@media (max-width: 768px) {
  .layer-menu-container.mobile {
    position: absolute;
    width: 100%;
    z-index: 99;
    padding-bottom: 75px;
  }
}

.layer-menu-close-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  margin-bottom: 0.5rem;
}

.layer-menu-title {
  margin: 0;
  font-weight: 600;
}

.layer-menu-layer-group-title {
  margin: 0;
  border-bottom: 1px solid var(--md-sys-color-outline);
}

.layer-menu-layer-group {
  padding: 0.5rem;
}
