.detail-detail {
  position: absolute;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
  right: 0;
  margin: auto;
  height: calc(100% - 60px);
  width: 20%;
  background-color: #ffffff;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .detail-detail.mobile {
    position: absolute;
    width: 100%;
    z-index: 99;
    padding-bottom: 70px;
  }
}