.form-menu-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30rem;
  padding: 0.5rem;
  background-color: white;
  overflow: auto;
}

@media (max-width: 768px) {
  .form-menu-container.mobile {
    position: absolute;
    width: 100%;
    z-index: 99;
    padding-bottom: 75px;
  }
}
