.menu-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  height: calc(100% - 60px);
  justify-content: space-between;
}

.menu-bar-active-success {
  border-right:  2px solid rgba(0, 128, 0, 0.2);
  border-radius: 10px;
}

.menu-bar-active-warning {
  border-right:  2px solid rgba(255, 193, 7, 0.2);
  border-radius: 10px;
}

.menu-bar-active-secondary {
  border-right:  2px solid rgba(180, 180, 180, 0.2);
  border-radius: 10px;
}
