@import 'tailwindcss';

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: local('Poppins Light'), url(./assets/fonts/Poppins-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: local('Poppins Regular'), url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local('Poppins Medium'), url(./assets/fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: local('Poppins SemiBold'), url(./assets/fonts/Poppins-SemiBold.ttf) format('truetype');
}

@theme {
  /* colors */
  --color-primary-100-white: #fff;
  --color-primary-80-white: rgba(255, 255, 255, 0.8);
  --color-primary-60-white: rgba(255, 255, 255, 0.6);
  --color-primary-40-white: rgba(255, 255, 255, 0.4);
  --color-primary-20-white: rgba(255, 255, 255, 0.2);
  --color-primary-10-white: rgba(255, 255, 255, 0.1);

  --color-primary-100-black: #000;
  --color-primary-80-black: rgba(0, 0, 0, 0.8);
  --color-primary-60-black: rgba(0, 0, 0, 0.6);
  --color-primary-40-black: rgba(0, 0, 0, 0.4);
  --color-primary-20-black: rgba(0, 0, 0, 0.2);
  --color-primary-10-black: rgba(0, 0, 0, 0.1);

  --color-primary-100-green-01: #c9dcb7;
  --color-primary-80-green-01: rgba(201, 220, 183, 0.8);
  --color-primary-60-green-01: rgba(201, 220, 183, 0.6);
  --color-primary-40-green-01: rgba(201, 220, 183, 0.4);
  --color-primary-20-green-01: rgba(201, 220, 183, 0.2);
  --color-primary-10-green-01: rgba(201, 220, 183, 0.1);

  --color-primary-100-green-02: #98c867;
  --color-primary-80-green-02: rgba(152, 200, 103, 0.8);
  --color-primary-60-green-02: rgba(152, 200, 103, 0.6);
  --color-primary-40-green-02: rgba(152, 200, 103, 0.4);
  --color-primary-20-green-02: rgba(152, 200, 103, 0.2);
  --color-primary-10-green-02: rgba(152, 200, 103, 0.1);

  --color-primary-100-green-03: #30805d;
  --color-primary-80-green-03: rgba(48, 128, 93, 0.8);
  --color-primary-60-green-03: rgba(48, 128, 93, 0.6);
  --color-primary-40-green-03: rgba(48, 128, 93, 0.4);
  --color-primary-20-green-03: rgba(48, 128, 93, 0.2);
  --color-primary-10-green-03: rgba(48, 128, 93, 0.1);

  --color-primary-100-green-04: #154430;
  --color-primary-80-green-04: rgba(21, 68, 48, 0.8);
  --color-primary-60-green-04: rgba(21, 68, 48, 0.6);
  --color-primary-40-green-04: rgba(21, 68, 48, 0.4);
  --color-primary-20-green-04: rgba(21, 68, 48, 0.2);
  --color-primary-10-green-04: rgba(21, 68, 48, 0.1);

  --color-primary-100-green-05: #123922;
  --color-primary-80-green-05: rgba(18, 57, 34, 0.8);
  --color-primary-60-green-05: rgba(18, 57, 34, 0.6);
  --color-primary-40-green-05: rgba(18, 57, 34, 0.4);
  --color-primary-20-green-05: rgba(18, 57, 34, 0.2);
  --color-primary-10-green-05: rgba(18, 57, 34, 0.1);
  --color-primary-05-green-05: rgba(18, 57, 34, 0.05);

  --color-secondary-orange-01: #ffb875;
  --color-secondary-orange-02: #fb8f01;
  --color-secondary-orange-03: #ffa52f; /* not defiend in list */
  --color-secondary-red-01: #ffb0b0;
  --color-secondary-red-02: #f00;
  --color-secondary-green-01: #93c460;
  --color-secondary-green-02: #62ad4b;
  --color-secondary-green-03: #1c593f;

  --color-graustufen-grau-a: #e5e5e5;
  --color-graustufen-grau-b: #ccc;
  --color-graustufen-grau-c: #999;
  --color-graustufen-grau-d: #666;
  --color-graustufen-grau-e: #333;

  --color-graustufen-grau-disabled: rgba(205, 205, 205, 0.2);

  --color-green-custom: #f5f7f6;
  --color-green-custom-02: #7ab364;

  --color-beige: #f7f6f3;

  --color-green-shadow-64: #0834131c;
  --color-green-shadow: rgba(18, 59, 33, 0.1);

  /* shadow */
  --shadow-custom: 0px 4px 15px 0px;
  --shadow-custom-lg: 0px 0px 64px 0px;

  /* font */
  --font-sans: 'Poppins', sans-serif;

  @keyframes enter {
    0% {
      transform: translateY(-100%) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  --animate-enter: enter 230ms cubic-bezier(0.21, 1.02, 0.73, 1) forwards;

  @keyframes leave {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.8);
      opacity: 0;
    }
  }

  --animate-leave: leave 230ms cubic-bezier(0.21, 1.02, 0.73, 1) forwards;

  --animate-pulse-slow: pulse 15s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(18, 57, 34, 0.05);
  border-left: 1px solid var(--primary-10-green-05);
}

::-webkit-scrollbar-thumb {
  background: var(--Graustufen-Grau-B, #ccc);
  border-radius: 50px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--Graustufen-Grau-B, #ccc) rgba(18, 57, 34, 0.05);
}

/* Optional hover effect for webkit */
::-webkit-scrollbar-thumb:hover {
  background: darken(var(--Graustufen-Grau-B, #ccc), 10%);
}
